.quote {
  max-width: 650px;
  margin-bottom: 50px;
  padding-left: 100px;
  border-left: 8px solid #F7DF94;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  &__author {
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #4F4F4F;
    cursor: pointer;
    &-position {
      font-size: 14px;
      font-weight: 500;
      color: #828282;
    }
    span {
      display: none;
    }
    &:hover {
      background: #333333;
      color: #F2F2F2;
      &-position {
        color: #F2F2F2;
      }
      span {
        display: block;
      }
    }
  }
}
