<div class="main">
  <div class="main__header" (click)="getRandomQuote()">
    refresh <span class="material-icons">sync</span>
  </div>
  <div class="main__content">
    <app-quote [quote]="quote"></app-quote>
  </div>
  <div class="main__footer">
    Made with <span class="material-icons icon-heart">favorite</span> by <a href="https://devchallenges.io/profile/CA4R45moGF3poY1o6OW6" target="_blank">@Brezo</a> for <a href="https://devchallenges.io/" target="_blank"> @DevChallenges.io</a>
  </div>
</div>
